/* Global box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Navbar for desktop */
@media (min-width: 992px) {
  .custom-navbar {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    z-index: 10;
    background: #fff;
    border: 1px solid #7a7a7a;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 63px auto 20px auto;
    width: 90%;
    transition: 0.3s all;
  }
}

/* Navbar logo */
.navbar-logo {
  height: 85px;
  width: auto;
  display: block;
}
@media (max-width: 767px) {
  .navbar-logo {
    height: 40px;
  }
}

/* Navbar brand and links */
.custom-navbar .navbar-brand {
  display: flex;
  align-items: center;
  padding: 0;
}
.custom-navbar .navbar-collapse {
  align-items: center;
}
.custom-navbar .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.custom-navbar .navbar-nav .nav-link {
  color: #84776f;
  padding: 10px 20px;
  font: 600 14px / normal "Kanti", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  flex-shrink: 1;
  transition: color 0.5s;
}
.custom-navbar .navbar-nav .nav-link:hover {
  color: #82b8e4;
}

/* Mobile navbar adjustments */
@media (max-width: 992px) {
  .custom-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .custom-navbar .navbar-nav {
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
  }
  .custom-navbar .navbar-nav .nav-link {
    text-align: left;
  }
}

/* Carousel image */
.carousel-inner img {
  height: 83vh;
  object-fit: cover;
}

@media (max-width: 767px) {
  .carousel-inner img {
    height: 445.05px;
  }
}

/* About heading styling */
.about-heading h3 {
  font-family: "Kanit", sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  color: #595552;
  margin: 80px 0 30px 0;
  text-align: center;
}
@media (max-width: 767px) {
  .about-heading h3 {
    font-size: 30px;
  }
}
.about-text p {
  font-family: "Kanti", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #7a7a7a;
  line-height: 1.5;
  margin: 0 auto 50px auto;
  padding: 0 20px;
  max-width: 100%;
}
.about-text .highlight {
  font-weight: 900;
}
.about-text .last-line {
  display: block;
  text-align: center;
  margin-top: 20px; /* adjust space as needed */
}
